/* Write your code here. */
.main-bg-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  padding-bottom: 10px;
}

.imagecontainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.thumbnailcontainer {
  display: flex;
  list-style-type: none;
  padding: 0px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.bigimagessize {
  border-radius: 15px;
  width: 100%;
}
